<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../adminlogin.css">
    <script src="../adminlogin.js" defer></script>

</head>
<body>
    <h1>Admin Login</h1>
    <form id="admin-login-form">
        <input type="email" id="email" placeholder="Email" required><br>
        <input type="password" id="password" placeholder="Password" required><br>
        <button type="submit">Sign In</button>
    </form>
    <p id="message"></p>
</body>
</html>
